./idea

# exclude models
models/gpt/gpt2/*
models/gpt/gpt2-medium/*
models/gpt/gpt2-large/*

# keep the folders
!models/gpt/gpt2/.gitkeep
!models/gpt/gpt2-medium/.gitkeep
!models/gpt/gpt2-large/.gitkeep

.idea

data/seeds/*

!data/seeds/.gitkeep